In [17]:
# Import the modules
import numpy as np # linear algebra
import pandas as pd # data processing
import os # manipulate paths
from datetime import date # supplies classes for manipulating dates
from time import strftime # convert time to a string as specified by the format argument

from sklearn.preprocessing import LabelEncoder # encode target labels with value between 0 and n_classes-1.
from sklearn.linear_model import LogisticRegression # logistic regression classifier
from sklearn import ensemble # provides methods for both classification and regression
from sklearn.ensemble import RandomForestClassifier # random forest classifier


from sklearn.metrics import confusion_matrix # compute confusion matrix to evaluate the accuracy of a classification
from sklearn.metrics import roc_curve # compute receiver operating characteristic (ROC)
from sklearn.metrics import roc_auc_score # compute area under the receiver operating characteristic curve (ROC AUC) from prediction scores


from sklearn.model_selection import train_test_split # this splits data into training and test set

import matplotlib.pyplot as plt # to create visualisations
%matplotlib inline
import seaborn as sns

import warnings # remove warning messages
warnings.filterwarnings('ignore')

# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [ ]:
# 2. Load and Read the Data
# We load the data in a pandas dataframe called df and return the name of each columns.

In [18]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
data = Path('Project-4/WA_Fn-UseC_-Telco-Customer-Churn.csv')
df = pd.read_csv(data)
df.head()

# Review the DataFrame
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [19]:
# print the columns names for each dataset
print("df columns:",list(df))

df columns: ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

In [20]:
# print the number of rows and columns
print("df shape:",df.shape)

df shape: (7043, 21)

In [21]:
# print the basic information: missing values and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [22]:
df.describe(include='all')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,7590-VHVEG,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

In [23]:
# print unique values for each columns
print('Values in gender:', df.gender.unique())
print('Values in SeniorCitizen:',df.SeniorCitizen.unique())
print('Values in Partner:',df.Partner.unique())
print('Values in Dependents:',df.Dependents.unique())
print('Values in PhoneService:',df.PhoneService.unique())
print('Values in MultipleLines:',df.MultipleLines.unique())
print('Values in InternetService:',df.InternetService.unique())
print('Values in OnlineSecurity:', df.OnlineSecurity.unique())
print('Values in OnlineBackup:', df.OnlineBackup.unique())
print('Values in DeviceProtection:', df.DeviceProtection.unique())
print('Values in TechSupport:', df.TechSupport.unique())
print('Values in StreamingTV:', df.StreamingTV.unique())
print('Values in StreamingMovies:', df.StreamingMovies.unique())
print('Values in Contract:', df.Contract.unique())
print('Values in PaperlessBilling:', df.PaperlessBilling.unique())
print('Values in PaymentMethod:', df.PaymentMethod.unique())
print('Values in Churn:', df.Churn.unique())

Values in gender: ['Female' 'Male']
Values in SeniorCitizen: [0 1]
Values in Partner: ['Yes' 'No']
Values in Dependents: ['No' 'Yes']
Values in PhoneService: ['No' 'Yes']
Values in MultipleLines: ['No phone service' 'No' 'Yes']
Values in InternetService: ['DSL' 'Fiber optic' 'No']
Values in OnlineSecurity: ['No' 'Yes' 'No internet service']
Values in OnlineBackup: ['Yes' 'No' 'No internet service']
Values in DeviceProtection: ['No' 'Yes' 'No internet service']
Values in TechSupport: ['No' 'Yes' 'No internet service']
Values in StreamingTV: ['No' 'Yes' 'No internet service']
Values in StreamingMovies: ['No' 'Yes' 'No internet service']
Values in Contract: ['Month-to-month' 'One year' 'Two year']
Values in PaperlessBilling: ['Yes' 'No']
Values in PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Values in Churn: ['No' 'Yes']

In [24]:
# print the first 5 rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [29]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df.drop(columns = ['SeniorCitizen','MultipleLines',
                   'OnlineSecurity','OnlineBackup',
                   'DeviceProtection','TechSupport',
                   'StreamingTV','StreamingMovies'], inplace=True)
df.head()

,customerID,gender,Partner,Dependents,tenure,PhoneService,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,Yes,No,1,No,DSL,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,No,No,34,Yes,DSL,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,No,No,2,Yes,DSL,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,No,No,45,No,DSL,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,No,No,2,Yes,Fiber optic,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [30]:
# find the rows in the dataset where there are no input for TotalCharges
total_charges = df[df.TotalCharges == " "]
total_charges.head()

Empty DataFrame
Columns: [customerID, gender, Partner, Dependents, tenure, PhoneService, InternetService, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [26]:
# check that all customers with tenure 0 have TotalCharges set as " "
new_customers = df[df.tenure == 0]
total_charges == new_customers

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
753,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
936,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1082,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1340,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3331,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3826,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4380,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5218,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6670,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6754,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [33]:
# replace the empthy rows by zero
df.loc[df['TotalCharges'] == " ", 'TotalCharges'] = '0'

# convert TotalCharges to numerical values
df.TotalCharges = pd.to_numeric(df.TotalCharges)
df.TotalCharges.head()

0      29.85
1    1889.50
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: float64

In [34]:
# check for duplicated rows
dups = df[df.duplicated() == True].count()

# check for duplicated customers
dups_id = df['customerID'][df['customerID'].duplicated() == True].count()

print('Duplicated rows: ', dups.sum())
print('Duplicated customer ids: ', dups_id)

Duplicated rows:  0
Duplicated customer ids:  0